.heading {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 2.5rem;
  line-height: normal;
  letter-spacing: 0%;
  padding: 0 7px;
  margin: 0;
  border-radius: 7px;
  width: fit-content;
  white-space: nowrap;
}

.heading--primary {
  background-color: hsl(var(--color-primary));
  color: hsl(var(--color-black));
}

.heading--secondary {
  background-color: hsl(var(--color-secondary));
  color: hsl(var(--color-white));
}

.heading--ghost {
  background-color: hsl(var(--color-white));
  color: hsl(var(--color-black));
}

.heading--level-1,
.heading--level-2,
.heading--level-3,
.heading--level-4 {
  font-weight: 500;
}

.heading--level-p {
  font-weight: 400;
}

.heading--level-1 {
  font-size: 2.6875rem;
}

.heading--level-2 {
  font-size: 2.25rem;
}

.heading--level-3 {
  font-size: 1.625rem;
}

.heading--level-4 {
  font-size: 1.125rem;
}

.heading--level-p {
  font-size: 1rem;
  line-height: 24px;
}

@media (min-width: 1366px) {
  .heading--level-1 {
    font-size: 3.75rem;
    font-weight: 500;
  }

  .heading--level-2 {
    font-size: 2.5rem;
    font-weight: 500;
  }

  .heading--level-3 {
    font-size: 1.875rem;
    font-weight: 500;
  }

  .typography--level-4 {
    font-size: 1.5rem;
  }

  .heading--level-p {
    font-size: 1.125rem;
  }
}
