.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  width: 100%;
  padding: 30px var(--container);
  position: sticky;
  top: 0;
  background-color: hsl(var(--color-white));
  z-index: 100;
}

.navbar__brand {
  display: flex;
  align-items: center;
  gap: 8.47px;
  z-index: 101;
}

.navbar__brand__icon {
  width: 24px;
  height: 24px;
}

.navbar__brand__icon-text {
  width: 112px;
  height: 19px;
}

/* button */
.navbar__toggle-menu {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  z-index: 101;
}

.navbar__list {
  display: none;
}

.navbar__list__cta {
  display: none;
}

.navbar__list__item {
  font-family: var(--font-family);
}

.navbar__menu {
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: fixed;
  top: 0;
  width: 100%;
  max-height: 100vh;
  padding-left: var(--container);
  padding-right: var(--container);
  padding-bottom: 32px;
  background-color: hsl(var(--color-white));
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
  overflow-y: auto;
  z-index: 99;
}

.navbar__menu--open {
  transform: translateY(0);
}

.navbar__menu__list {
  all: unset;
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  list-style: none;
}

.navbar__list__item {
  width: fit-content;
}

.navbar__list__item > a {
  text-decoration: none;
  color: hsl(var(--color-black));
}

.navbar__list__item > a:hover {
  color: hsla(var(--color-black), 0.8);
}

.navbar__background-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: hsla(var(--color-black), 0.2);
  backdrop-filter: blur(4px);
  z-index: 98;
  animation: fadeIn 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.navbar__background-overlay--open {
  display: block;
}

@media (min-width: 1366px) {
  .navbar {
    margin: 60px 0;
    padding: 0 var(--container);
    position: relative;
    top: auto;
    background-color: unset;
  }

  .navbar__brand {
    gap: 12.92px;
  }

  .navbar__brand__icon {
    width: 36px;
    height: 36px;
  }

  .navbar__brand__icon-text {
    width: 171px;
    height: 29px;
  }

  .navbar__toggle-menu {
    display: none;
  }

  .navbar__list {
    display: flex;
    gap: 40px;
    align-items: center;
  }

  .navbar__list__item {
    list-style: none;
    font-size: 1.25rem;
    line-height: 28px;
    font-weight: normal;
    white-space: nowrap;
  }

  .navbar__list__item a {
    text-decoration: none;
    color: var(--color-text);
  }

  .navbar__list__cta {
    display: flex;
  }

  .navbar__menu {
    display: none !important;
  }
}
